
.about,
.about-me{
    position: relative;
    width: 100%;
    background-color: var(--white);
}

.about{
    z-index: 6;
    overflow: hidden;
}

/*  ABOUT ME AREA   */
.about-me{
    max-width: 30em;
    margin: 0 auto;
    padding: 0 1em 3em;
    -webkit-display: grid;
    -o-display: grid;
    -ms-display: grid;
    -moz-display: grid;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-areas:
    'img img img .'
    'img img img title'
    'img img img . '
    'ctnt ctnt ctnt ctnt'
    'ctnt ctnt ctnt ctnt';
    grid-row-gap: 1em;
}



    /*
    .about-me img::before{
        content: '';
        display: block;
        position: absolute;
        top: -0.3rem;
        left: -0.3rem;
        width: calc(100% + 0.6rem);
        height: calc(50% + 0.3rem);
        border: 1px solid black;
    }
    */


/*  MEDIA QUERY  */
@media screen and (min-width: 768px) {

    .about-me img{
        grid-area: img;
        min-width: 15em;
    }


    .about-me__title{
        grid-area: title;
        color: var(--accent-light);
        font-size: 2.4em;
        font-weight: 600;
        text-align: right;
        margin-top: 0;
        text-shadow: 0px 15px 10px rgba(0,0,0,0.2);
    }

    .about-me__content{
        grid-area: ctnt;
    }

    .about-me__designation{
        color: var(--primary);
        text-align: left;
        font-weight: 300;
        font-family: sans-serif;
        text-shadow: 0px 15px 10px rgba(0,0,0,0.2);
    }

    .designation-bar{
        position: relative;
        margin: 2em auto;
        width: 20%;
        height: 2px;
        background-color: var(--light-gray);
        -webkit-box-shadow: 0px 15px 10px rgba(0,0,0,0.2);
                box-shadow: 0px 15px 10px rgba(0,0,0,0.2);
    }

    .about-me__content p{
        color: var(--light-gray);
        font-size: 20px;
        -webkit-transform: translateY(200px);
                transform: translateY(200px);
    }
}

@media screen and (max-width: 767px) {

    .about-me img{
        grid-area: img;
        min-width: 15em;
    }


    .about-me__title{
        grid-area: title;
        color: var(--accent-light);
        font-size: 2.4em;
        font-weight: 600;
        text-align: right;
        margin-top: 0;
        text-shadow: 0px 15px 10px rgba(0,0,0,0.2);
    }

    .about-me__content{
        grid-area: ctnt;
    }

    .about-me__designation{
        color: var(--primary);
        text-align: left;
        font-weight: 300;
        font-family: sans-serif;
        text-shadow: 0px 15px 10px rgba(0,0,0,0.2);
    }

    .designation-bar{
        position: relative;
        margin: 2em auto;
        width: 20%;
        height: 2px;
        background-color: var(--light-gray);
        -webkit-box-shadow: 0px 15px 10px rgba(0,0,0,0.2);
                box-shadow: 0px 15px 10px rgba(0,0,0,0.2);
    }

    .about-me__content p{
        color: var(--light-gray);
        font-size: 20px;
    }
}

@media screen and (max-width: 420px) {
    .about-me{
        width: 100%;
        padding: 0 1em 3em;
        -webkit-display: grid;
        -o-display: grid;
        -ms-display: grid;
        -moz-display: grid;
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(4, auto);
        grid-row-gap: 1em;
    }

    .about-me img{
        grid-column: 1/3;
        grid-row: 1/3;
        min-width: 55vw;
    }

    .about-me__title{
        grid-column: 2/-1;
        grid-row: 2/3;
        color: var(--accent-light);
        font-size: 2em;
        font-weight: 600;
        text-align: right;
        margin: 0;
        text-shadow: 0px 10px 10px rgba(0,0,0,0.2);
    }

    .about-me__content{
        grid-column: 1/-1;
        grid-row: 3/-1;
    }
    .about-me__designation{
        color: var(--primary);
        text-align: center;
        font-weight: 300;
        font-size: 1.6rem;
        font-family: sans-serif;
        text-shadow: 0px 12px 10px rgba(0,0,0,0.2);
        margin-top: 1rem;
    }

    .about-me__content p{
        color: var(--light-gray);
        font-size: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .about-me{
        padding: 1em 0 4em;
        grid-template-areas:
        'img img ctnt ctnt'
        'img img ctnt ctnt'
        'title title ctnt ctnt'
        '. . ctnt ctnt';
        grid-gap: 1em;
    }

    .about-me img{
        grid-area: img;
        min-width: 10em;
    }

    .about-me__content p{
        color: var(--light-gray);
        font-size: 20px;
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}